:root {
    --header-color: #683737;
    --nav-color: #3f2d2d;
    --main-color: #242121;
    --footer-color: #683737;
    --text-color: #ece7e7;
    --shadow-color: #1f1b1b;
}

body {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 2em;
    z-index: 2;
    box-shadow: 0 0 .4em var(--shadow-color);

    form {
        display: flex;
        flex-direction: column;

        input {
            margin: .5em 0;
            background-color: var(--nav-color);
            color: var(--text-color);
            border: none;
            border-radius: .5em;
            padding: .7em 1em;
            box-shadow: inset .2em .2em .2em var(--main-color);
            width: 35em;
        }
    }

    #filter-form {
        display: flex;
        align-items: end;
    }
}

#nav-and-main-container {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
    padding: 2em;
    z-index: 1;
    box-shadow: 0 0 .4em var(--shadow-color);
    overflow-y: scroll;
    min-width: fit-content;
    scrollbar-color: var(--header-color) var(--nav-color);

    #preview-file-path {
        width: 20em;
        margin: 0;
        overflow-wrap: break-word;
    }

    #preview-image-container {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        width: 20em;
        height: 15em;

        #preview-image {
            max-width: 100%;
            max-height: 100%;
            border-radius: .5em;
            box-shadow: .1em .1em .4em var(--shadow-color);
        }
    }

    #tag-list-container {
        display: grid;
    }

    #tag-drop-divs-container {
        grid-column-start: 1;
        grid-row-start: 1;

        .tag-drop-div {
            width: 100%;
            padding-top: 2.3em;
        }

        [order="top"].tag-order-preview {
            border-top: solid .2em var(--main-color);
        }

        [order="bottom"].tag-order-preview {
            border-bottom: solid .2em var(--main-color);
        }
    }

    #tag-list {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 1;
        margin: 0;
        padding: 0;
        list-style: none;

        .tag {
            display: flex;
            align-items: center;
            margin: 0.8em 0;
            padding: 0 1em;
            height: 3em;
            width: fit-content;

            border-radius: .7em;
            background-color: var(--header-color);
            box-shadow: .1em .1em .2em var(--shadow-color);

            .tag-name {
                margin: 0;
            }

            .remove-tag-button {
                background-color: var(--text-color);
                color: var(--header-color);
                font-weight: bold;
                font-size: x-small;
                border: none;
                border-width: 1px;
                border-radius: 10em;
                padding: .2em .5em;
                margin-left: 1em;
                height: fit-content;
            }
        }
    }

    .input-and-label-container {
        display: flex;
        flex-direction: column;

        input {
            margin: .5em 0;
            background-color: var(--main-color);
            color: var(--text-color);
            border: none;
            border-radius: .5em;
            padding: .7em 1em;
            box-shadow: inset .2em .2em .2em var(--shadow-color);
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: var(--main-color);
    flex-grow: 1;
    padding: 1em;
    overflow-y: scroll;
    scrollbar-color: var(--header-color) var(--main-color);

    .thumbnail {
        display: flex;
        flex-direction: column;
        margin: 1em;
        width: 10em;

        .thumbnail-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;

            img {
                border-radius: .3em;
                max-width: 100%;
                max-height: 100%;
                box-shadow: .2em .2em .4em var(--shadow-color);
            }
        }

        .thumbnail-file-path {
            margin: .4em 0;
            align-self: center;
            width: 10em;
            overflow-wrap: break-word;
            text-align: center;
        }
    }
}

footer {
    background-color: var(--footer-color);
    padding: 2em;
    z-index: 2;
    box-shadow: 0 0 .4em var(--shadow-color);
}