:root {
    --header-color: #683737;
    --nav-color: #3f2d2d;
    --main-color: #242121;
    --td-color: #2b2323;
    --footer-color: #683737;
    --text-color: #ece7e7;
    --shadow-color: #1f1b1b;
}

header {
    #sort-dropdown-button {
        align-self: end;
        color: var(--text-color);
        background-color: var(--nav-color);
        text-decoration: none;
        padding: 0.6em 1em;
        width: 4em;
        height: fit-content;

        border-radius: .8em;
        border-style: none;
        box-shadow: .15em .15em .1em var(--shadow-color);
    }

    #sort-dropdown-menu-container {
        position: absolute;
        display: none;
        transform: translateX(-6em) translateY(1em);
        width: 15em;

    }
    
    #sort-dropdown-menu-container.dropdown-visible {
        display: grid;
    }
    
    #sort-drop-divs-container {
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 1em 1em;
        max-width: 100%;
        
        .sort-drop-div {
            padding-top: 2.5em;
        }

        [order="top"].sort-order-preview {
            border-top: solid .2em var(--main-color);
        }

        [order="bottom"].sort-order-preview {
            border-bottom: solid .2em var(--main-color);
        }
    }
    
    #sort-dropdown-menu {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 1;
        list-style: none;
        color: var(--text-color);
        background-color: var(--nav-color);
        margin: 0;
        padding: 1em 1em;
        border-radius: .8em;
        box-shadow: .15em .15em .1em var(--shadow-color);
        max-width: 100%;
    }

    .dropdown-option {
        display: flex;
        align-items: center;
        color: var(--text-color);
        background-color: var(--header-color);
        padding: 0 1em;
        margin: 1em 0em;
        height: 3em;
        border-radius: .8em;
        box-shadow: .15em .15em .1em var(--shadow-color);
        text-align: left;
    }
}

nav {
    #preview-tag-name {
        width: 22em;
        margin: 0;
        padding-bottom: 1em;
    }

    #alias-list {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 1;
        margin: 0;
        padding: 0;
        list-style: none;

        .alias {
            display: flex;
            align-items: center;
            margin: 0.8em 0;
            padding: 0 1em;
            height: 3em;
            width: fit-content;

            border-radius: .7em;
            background-color: var(--header-color);
            box-shadow: .1em .1em .2em var(--shadow-color);

            .alias-text {
                margin: 0;
            }

            .remove-alias-button {
                background-color: var(--text-color);
                color: var(--header-color);
                font-weight: bold;
                font-size: x-small;
                border: none;
                border-width: 1px;
                border-radius: 10em;
                padding: .2em .5em;
                margin-left: 1em;
                height: fit-content;
            }
        }
    }
}

main {
    padding: 0;

    table {
        width: 100%;
    }

    td {
        border-left: none;
        border-right: none;
        padding: 0.4em 1em;
    }

    tr:nth-child(even) {
        background-color: var(--td-color);
    }
}